@font-face {
  font-family: 'vapt-icons';
  src: url('../font/vapt-icons.eot?40586158');
  src: url('../font/vapt-icons.eot?40586158#iefix') format('embedded-opentype'),
       url('../font/vapt-icons.woff2?40586158') format('woff2'),
       url('../font/vapt-icons.woff?40586158') format('woff'),
       url('../font/vapt-icons.ttf?40586158') format('truetype'),
       url('../font/vapt-icons.svg?40586158#vapt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'vapt-icons';
    src: url('../font/vapt-icons.svg?40586158#vapt-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "vapt-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-chevron-right:before { content: '\e804'; } /* '' */
.icon-chevron-left:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-inbox:before { content: '\e809'; } /* '' */
.icon-key:before { content: '\e80a'; } /* '' */
.icon-thumbs-up:before { content: '\e80b'; } /* '' */
.icon-acessorios:before { content: '\e80c'; } /* '' */
.icon-componentes:before { content: '\e80d'; } /* '' */
.icon-vestuario:before { content: '\e80e'; } /* '' */
.icon-bikes:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook:before { content: '\f100'; } /* '' */
.icon-mail:before { content: '\f101'; } /* '' */
.icon-google:before { content: '\f102'; } /* '' */
.icon-circle:before { content: '\f10c'; } /* '' */
.icon-file-alt:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-handshake:before { content: '\f2b5'; } /* '' */